/* homepage only */

.content{
  display:flex;
  flex-direction:column;
  gap:45px;
}

.header h1{
  font-size:64px;
  letter-spacing:-2px;
}

.apps{
  display:flex;
  flex-direction:column;
  gap:14px;
}

.app{
  display:flex;
  align-items:center;
  gap:18px;

  padding:18px 20px;

  text-decoration:none;
  color:inherit;
}

.app:hover{
  transform:translateX(6px);
}

.icon{
  width:52px;
  height:52px;

  display:flex;
  align-items:center;
  justify-content:center;

  border-radius:14px;

  background:rgba(255,255,255,.06);
  border:1px solid rgba(255,255,255,.08);
}

.info h3{
  font-size:16px;
}

.info span{
  color:#8a8a8a;
  font-size:13px;
}

.wallpaper{
  filter:grayscale(100%) brightness(.65);
}

@media(max-width:900px){

  .workspace{
    display:block;
    position:absolute;
    inset:0;
    z-index:0;
  }

  .sidebar{
    position:relative;
    z-index:2;

    background:rgba(0,0,0,.72);
    backdrop-filter:blur(12px);
  }

  .header h1{
    font-size:46px;
  }

}